.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url("../../../public/login.jpg");
    background-position: center -90px;
    background-size: cover;
  }
  
  form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 55px;
  }
  
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 105%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .switch-mode {
    text-align: center;
    color: #007bff;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .switch-mode:hover {
    text-decoration: underline;
  }
  